footer
    a(title="privacy policy" href=process.env.SB_DIRECT_URI+"/privacy") privacy policy
    a(title="safe browse for slack github" href="https://github.com/tangoyankee/safe-browse-slack") safe browse for slack github
    a(title="miller.tim108@gmail.com" href="mailto:miller.tim108@gmail.com") miller.tim108@gmail.com
    a(title="tangled city" href="https://tangled.city/") tangled city
