footer
    a(title="privacy polivy" href="/privacy") privacy policy
    a(title="Markdown links github" href="https://github.com/tangoyankee/markdownlinks") GitHub repository
    a(title="help@markdownlinks.io" href="mailto:help@markdownlinks.io") help@markdownlinks.io
