footer
    a(title="our privacy policy" href=process.env.SB_DIRECT_URI+"privacy") privacy policy
    a(title="github repository" href="https://github.com/tangoyankee/safe-browse-slack") safe browse for slack github
    a(title="email to miller.tim108@gmail.com" href="mailto:miller.tim108@gmail.com") miller.tim108@gmail.com
    a(title="portfolio home" href="https://tangoyankee.io/") tangoyankee portfolio
