footer
    a(title="privacy polivy" href="/privacy") privacy policy
    a(title="markdownlinks github" href="https://github.com/tangoyankee/markdownlinks") markdownlinks github
    a(title="help@markdownlinks.io" href="mailto:help@markdownlinks.io") help@markdownlinks.io
