footer
    a(title="Markdown links github" href="https://github.com/tangoyankee/markdownlinks") GitHub Repository
    a(title="miller.tim108@gmail.com" href="mailto:miller.tim108@gmail.com") miller.tim108@gmail.com
    a(title="Code for America home page" href="https://www.codeforamerica.com") Code for America
