head
    title="Markdown Links"
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-145659975-1")
    script(src="js/analytics.js")
    meta(charset="utf-8")
    meta(name="description" content="Format hyperlinks in Slack with Markdown syntax")
    meta(name="author" content="Timothy Miller")
    meta(name="slack-app-id" content="AHB2H4ABX")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="img/markdown_icon.ico")
    link(rel="stylesheet" type="text/css" href="css/app.css")
