head
    title="Safe Browse for Slack"
    meta(charset="utf-8")
    meta(name="description" content="Slack slash command to check suspicious urls using Google Safe Browse")
    meta(name="author" content="Timothy Miller")
    meta(name="slack-app-id" content="AV86K5FQ9")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="/img/Ssslines.ico")
    link(rel="stylesheet" type="text/css" href="css/app.css")
