div(class="message")
    if message
        - var display_text;
        - var alert_class;
        if message == "success"
            - display_text = "installation succeeded";
            - alert_class = "success";
        else if message == "error"
            - display_text = "an error occurred"
            - alert_class = "error"
        else
            - display_text = "input not recognized"
            - alert_class = "warning"
        div(class = `alert ${alert_class}`) #{display_text}
            span(class = "closebtn") 
                a(title = "close message" href = "/") &times;
