extends _base.pug

append content
    div(class="content")
        p 
            | Slack supports several ways to format messages. However, this does not include a way to cleanly format long web addresses.
            | For example, the web address for directions to Emeril's restaurant in New Orleans is unkempt- https://www.google.com/maps/place/Emeril's+New+Orleans/@29.944616,-90.0694747,17z/data=!3m1!4b1!4m5!3m4!1s0x8620a6718f86a9a7:0x6ab2069a8e2a2d7d!8m2!3d29.944616!4d-90.067286
        p Additionally, your co-workers may need to renew their driver's licenses before they can drive to the restaurant; they want the website for Louisiana's DMV- https://www.expresslane.org/Pages/default.aspx
        p A Slack message sharing these links may read:
        p
            i We're going to Emeril's for dinner. Here are the directions!  https://www.google.com/maps/place/Emeril's+New+Orleans/@29.944616,-90.0694747,17z/data=!3m1!4b1!4m5!3m4!1s0x8620a6718f86a9a7:0x6ab2069a8e2a2d7d!8m2!3d29.944616!4d-90.067286
            i If you need to stop by the DMV to get your license renewed first, make an appointment at their website! https://www.expresslane.org/Pages/default.aspx
        p 
            | With the The Markdownlinks Slack application you can format your web addresses to be hidden behind text. 
            | Simply place the your desired text in brackets [], immediately followed by your web address in paranthesis.
            | For example, the new message using The Markdownlinks slash command would read:
        p
            i /markdownlinks We're going to Emeril's for dinner. [Here are the directions!](https://www.google.com/maps/place/Emeril's+New+Orleans/@29.944616,-90.0694747,17z/data=!3m1!4b1!4m5!3m4!1s0x8620a6718f86a9a7:0x6ab2069a8e2a2d7d!8m2!3d29.944616!4d-90.067286)
            i If you need to stop by the DMV to get your license renewed first, make an appointment at [their website!](https://www.expresslane.org/Pages/default.aspx)
        p Make sure there are no spaces between the closing bracket and the open parenthesis!
        p The resulting message will read:
        p
            i We're going to Emeril's for dinner.
            a(title = "Emerl's New Orleans" href = "https://www.google.com/maps/place/Emeril's+New+Orleans/@29.944616,-90.0694747,17z/data=!3m1!4b1!4m5!3m4!1s0x8620a6718f86a9a7:0x6ab2069a8e2a2d7d!8m2!3d29.944616!4d-90.067286") 
                i Here are the directions!
            i If you need to stop by the DMV to get your license renewed first, make an appointment at 
            a(title = "Louisiana DMV" href="https://www.expresslane.org/Pages/default.aspx")
                i their website!]
        
            | Each user can type a message that contains hyperlinks and their associated text, using Markdown hyperlink syntax.
            | This application supports up to twenty hyperlinks in a single message.
            | Additionally, other Slack formatting -such as emojis and strikethroughs- are preserved.
            | Once the user sends the message, Markdown Links will delete the original message and replace it with a message
            | with the hyperlinks cleanly formatted.

        a(title="add to slack" href="https://slack.com/oauth/v2/authorize?client_id=588720890436.589085146405&scope=commands") 
            img(alt="Add to Slack" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" width="139" height="40")
        
        img(class = "demo-gifs" src="img/demos/safe-demo.gif" alt="demonstration of safe and successful web address formatting")

        h3 If you forget the format for [Markdown](hyperlink syntax), use the /markdownlinks help command to remember.
        img(class = "demo-gifs" src="img/demos/help-demo.gif" alt="demonstration of help option")

        h3 
            | Markdownlinks uses 
            a(class="google-safe-browse" title="Google safe browse home" href="https://safebrowsing.google.com/") Google Safe Browse
            |  to check whether a web address is potentially harmful.
        p Suspicious web addresses are exposed and marked with an emoji representing their threat types.
        ul
            li
                img(class="emoji" src="img/emojis/beetle.png" alt="beetle")
                a(class="google-safe-browse" title="Google safe browse malware" href="https://www.stopbadware.org/")  malware
            li 
                img(class="emoji" src="img/emojis/biohazard_sign.png" alt="biohazard sign")
                a(class="google-safe-browse" title="Google safe browse phishing" href="https://googleonlinesecurity.blogspot.com/2015/11/safe-browsing-protection-from-even-more.html")  phishing/social engineering
            li
                img(class="emoji" src="img/emojis/no_entry_sign.png" alt="no entry sign")
                a(class="google-safe-browse" title="Google safe browse unwanted software" href="https://www.google.com/about/unwanted-software-policy.html")  unwanted software
            li 
                img(class="emoji" src="img/emojis/exclamation.png" alt="exclamation")
                |  potentially harmful application or unspecified threat
        p
            | Web addresses not suspected of being harmful earn a small blue diamond.
            img(class="emoji" src="img/emojis/small_blue_diamond.png" alt="small blue diamond")
        p
            | A small orange diamond 
            img(class="emoji" src="img/emojis/small_orange_diamond.png" alt="small orange diamond")
            | means the web address was
            a(class="google-safe-browse" href="https://www.snopes.com/fact-check/http-vs-https/")  shared without https.
        img(class = "demo-gifs" src="img/demos/harmful-demo.gif" alt="demonstration of harmful yet successful web address formatting")
        p 
            i Google Safe Browse and https checks are not performed on web addresses shared outside of Markdown syntax.

        h3 A warning indicates when Markdownlinks fails to contact Google Safe Browse
        p 
            | Web addresses keep their formatting but do not earn the small blue diamond.
            img(class="emoji" src="img/emojis/small_blue_diamond.png" alt="small blue diamond")
        img(class = "demo-gifs" src="img/demos/error-demo.gif" alt="demonstration of safe yet failed web address formatting")

        h3 Thank you for visiting!
