extends _base.pug

append content
    div(class="content")
        p Use the /markdownlinks slash command to send a message with links formatted based on the Markdown hyperlink syntax.
        p Markdownlinks will return a message with clean and simple hyperlinks
        //- a(title="add to slack" href="https://slack.com/oauth/authorize?client_id=588720890436.589085146405&scope=commands") 
        //-     img(src="https://platform.slack-edge.com/img/add_to_slack.png" alt="add to slack")
        p 
          strong Upcoming feature:
          |  Markdown links will use the Google safe browsing API to check links for malicious content
        img(id="demo" src="img/nasa_dmv_demo_optimize.gif" alt="demonstration of application")
