doctype html
html(lang="en")
head
    title="Markdown Links"
    meta(charset="utf-8")
    meta(name="description" content="Format hyperlinks in Slack with Markdown syntax")
    meta(name="author" content="Timothy Miller")
    meta(name="slack-app-id" content="AHB2H4ABX")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="img/markdown_icon.ico")
    link(rel="stylesheet" type="text/css" href="css/app.css")
body
    header
        img(src="img/markdown_icon.png" alt="markdown icon")
        h1="Markdown Links"
    div(class="content")
        p Use the /markdownlinks slash command to send a message with links formatted based on the Markdown hyperlink syntax.
        p Markdownlinks will return a message with clean and simple hyperlinks
        a(title="add to slack" href="https://slack.com/oauth/authorize?client_id=588720890436.589085146405&scope=commands") 
            img(src="https://platform.slack-edge.com/img/add_to_slack.png" alt="add to slack")
        img(id="demo" src="img/nasa_dmv_demo_optimize.gif" alt="demonstration of application")
    footer
        a(title="Markdown links github" href="https://github.com/tangoyankee/markdownlinks") GitHub Repository
        a(title="miller.tim108@gmail.com" href="mailto:miller.tim108@gmail.com") miller.tim108@gmail.com
        a(title="Code for America home page" href="https://www.codeforamerica.com") Code for America
    script(src="js/jquery-3.4.1.min.js")
    script(src="js/app.js")
