doctype html
html(lang="en")
head
    title="Markdown Links"
    meta(charset="utf-8")
    meta(name="description" content="Format hyperlinks in Slack with Markdown syntax")
    meta(name="author" content="Timothy Miller")
    meta(name="slack-app-id" content="AHB2H4ABX")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link( rel="icon" href="img/markdown_icon.ico")
    link(rel="stylesheet" type="text/css" href="css/app.css")
body
    h1="Welcome to Markdown Links"
    p Use the /markdownlinks slack command to send a message with links formatted with Markdown hyperlink syntax.
    p Markdownlinks will return a message with formatted hyperlinks.
    img(src="img/dmv_nasa_demo.gif" alt=".gif example")
    footer
        a(title="Markdown links github" href="https://github.com/tangoyankee/markdownlinks") GitHub Repository
        a(title="miller.tim108@gmail.com" href="mailto:miller.tim108@gmail.com") miller.tim108@gmail.com
        a(title="Code for America home page" href="https://www.codeforamerica.com") Code for America
