extends _base.pug

append content
    div(class="content")
        p Use the /markdownlinks slash command to send a message with links formatted based on the Markdown hyperlink syntax.
        p Markdownlinks will return a message with clean and simple hyperlinks

        a(title="add to slack" href="https://slack.com/oauth/v2/authorize?client_id=588720890436.589085146405&scope=commands") 
            img(alt="Add to Slack" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" width="139" height="40")
        
        h2 Google Safe Browsing
        p 
         | Making a url behind a nicely formatted link can hide malicious we addresses.
         | We use Google Safe Browse to check for whether there are any reported threats from the link.
         | Different Types of threats including phishing, malicious software, malware, and unwanted software.
         | These threat types are represented by (insert emojis)
        img(id="demo" src="img/nasa_dmv_demo_optimize.gif" alt="demonstration of application")
