
extends _base.pug

append content
  div(class="content")
    h2 Install
    p Select the button below to install the Markdownlinks application in your Slack Workspace
    a(title="add to slack" href="https://slack.com/oauth/v2/authorize?client_id=588720890436.589085146405&scope=commands") 
      img(alt="Add to Slack" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" width="139" height="40")

    h2 Background
    p 
      | While Slack supports several ways to format messages, this does not include a way to cleanly format long web addresses.
      | For example, there is no built-in way to shorten the directions to Emeril's restaurant in New Orleans: 
    ul
      li 
        a(title = "Emerl's New Orleans" href = "https://www.google.com/maps/place/Emeril's+New+Orleans/@29.944616,-90.0694747,17z/data=!3m1!4b1!4m5!3m4!1s0x8620a6718f86a9a7:0x6ab2069a8e2a2d7d!8m2!3d29.944616!4d-90.067286") 
          | https://www.google.com/maps/place/Emeril's+New+Orleans/@29.944616,-90.0694747,17z/data=!3m1!4b1!4m5!3m4!1s0x8620a6718f86a9a7:0x6ab2069a8e2a2d7d!8m2!3d29.944616!4d-90.067286
    p Sharing multiple web addresses in a single message can quickly make it feel cluttered:
    ul 
      li  
        | We're going to Emeril's for dinner! Here are the directions:
        a(title = "Emerl's New Orleans" href = "https://www.google.com/maps/place/Emeril's+New+Orleans/@29.944616,-90.0694747,17z/data=!3m1!4b1!4m5!3m4!1s0x8620a6718f86a9a7:0x6ab2069a8e2a2d7d!8m2!3d29.944616!4d-90.067286") 
          | https://www.google.com/maps/place/Emeril's+New+Orleans/@29.944616,-90.0694747,17z/data=!3m1!4b1!4m5!3m4!1s0x8620a6718f86a9a7:0x6ab2069a8e2a2d7d!8m2!3d29.944616!4d-90.067286
        |  If you need to stop by the DMV to get your license renewed first, make an appointment at their website!
        a(title = "Louisiana DMV" href="https://www.expresslane.org/Pages/default.aspx")
          |  https://www.expresslane.org/Pages/default.aspx
    p Rough, right?
      br 
      | Instead! hide these long addresses behind text by using the the Markdownlinks slash command.

    h2 Steps
    ol
      li Begin your message with '/markdownlinks' to activate the command
      li Type in the message you want share
      li When you get to the text you want to hide your link behind, place it between brackets []
        br
        i Markdownlinks formats up to twenty web addressess per message
      li 
        | Immediately follow the text with the web address you want to hide, placed in paretheses ()  
        br 
        i Make sure there are no spaces between the closing bracket and the opening parenthesis!
      li Send the message to markdownlinks to be formatted
      li Markdown Links will delete the original message and replace it with a message
        | with the hyperlinks cleanly formatted.
        br
        i Additionally, other Slack formatting -such as emojis and strikethroughs- are kept in the message

    h2 Demo
    p Your input would read:
    ul 
      li
        | We're going to Emeril's for dinner! 
        | [Here are the directions.](https://www.google.com/maps/place/Emeril's+New+Orleans/@29.944616,-90.0694747,17z/data=!3m1!4b1!4m5!3m4!1s0x8620a6718f86a9a7:0x6ab2069a8e2a2d7d!8m2!3d29.944616!4d-90.067286)
        |  If you need to stop by the DMV to get your license renewed first, make an appointment at
        | [their website!]
        | (https://www.expresslane.org/Pages/default.aspx)
    p The resulting message will read:
    ul
      li
        | We're going to Emeril's for dinner!
        a(title = "Emerl's New Orleans" href = "https://www.google.com/maps/place/Emeril's+New+Orleans/@29.944616,-90.0694747,17z/data=!3m1!4b1!4m5!3m4!1s0x8620a6718f86a9a7:0x6ab2069a8e2a2d7d!8m2!3d29.944616!4d-90.067286") 
          | Here are the directions.
        |  If you need to stop by the DMV to get your license renewed first, make an appointment at 
        a(title = "Louisiana DMV" href="https://www.expresslane.org/Pages/default.aspx")
          | their website!
    img(class = "demo-gifs" src="img/demos/emeril-demo.gif" alt="demonstration of safe and successful web address formatting")

    h2 Help
    p If you forget the format for [Markdown](hyperlink.syntax), use the /markdownlinks help command to remember.
    img(class = "demo-gifs" src="img/demos/help-demo.gif" alt="demonstration of help option")

    h2 Safety
    p 
      | Markdownlinks uses 
      a(class="google-safe-browse" title="Google safe browse home" href="https://safebrowsing.google.com/") Google Safe Browse
      |  to check whether a web address is potentially harmful.
      br
      | Suspicious web addresses are exposed and marked with an emoji representing their threat types.
    ul
      li
        img(class="emoji" src="img/emojis/beetle.png" alt="beetle")
        a(class="google-safe-browse" title="Google safe browse malware" href="https://www.stopbadware.org/")  malware
      li 
        img(class="emoji" src="img/emojis/biohazard_sign.png" alt="biohazard sign")
        a(class="google-safe-browse" title="Google safe browse phishing" href="https://googleonlinesecurity.blogspot.com/2015/11/safe-browsing-protection-from-even-more.html")  phishing/social engineering
      li
        img(class="emoji" src="img/emojis/no_entry_sign.png" alt="no entry sign")
        a(class="google-safe-browse" title="Google safe browse unwanted software" href="https://www.google.com/about/unwanted-software-policy.html")  unwanted software
      li 
        img(class="emoji" src="img/emojis/exclamation.png" alt="exclamation")
        |  potentially harmful application or unspecified threat
    p
      | A small blue diamond
      img(class="emoji" src="img/emojis/small_blue_diamond.png" alt="small blue diamond")
      | is earned by web addresses not are suspected of being harmful.
      br
      | A small orange diamond 
      img(class="emoji" src="img/emojis/small_orange_diamond.png" alt="small orange diamond")
      | means the web address was
      a(class="google-safe-browse" href="https://www.snopes.com/fact-check/http-vs-https/")  shared without https.
    img(class = "demo-gifs" src="img/demos/harmful-demo.gif" alt="demonstration of harmful yet successful web address formatting")
    p 
      i Google Safe Browse and https checks are not performed on web addresses shared outside of Markdown syntax.

    h3 Failing Safe Browse Checks
    p A warning indicates when Markdownlinks fails to contact Google Safe Browse.
      br
      | Web addresses keep their formatting but do not earn the small blue diamond.
      img(class="emoji" src="img/emojis/small_blue_diamond.png" alt="small blue diamond")
    img(class = "demo-gifs" src="img/demos/error-demo.gif" alt="demonstration of safe yet failed web address formatting")
