extends _base.pug

append content
  div(class="content")
    h2 Install
      hr
    p Click the button below to install the Safe Browse for Slack application in your Workspace
    a(title="add to slack" href="https://slack.com/oauth/v2/authorize?client_id=588720890436.994223185825&scope=commands") 
      img(alt="Add to Slack" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" width="139" height="40")

    h2 Background
      hr
    p Slack allows for urls to be formatted into hypertext. This greatly improves the readability of messages that contain several urls, especially unruly ones. 
      | For example, below are directions to Emeril's restaurant in New Orleans.
    ul
      li We're going to Emeril's for dinner! Here are the directions: 
        a(title = "Emerl's New Orleans" href = "https://www.google.com/maps/place/Emeril's+New+Orleans/@29.944616,-90.0694747,17z/data=!3m1!4b1!4m5!3m4!1s0x8620a6718f86a9a7:0x6ab2069a8e2a2d7d!8m2!3d29.944616!4d-90.067286") 
          | https://www.google.com/maps/place/Emeril's+New+Orleans/@29.944616,-90.0694747,17z/data=!3m1!4b1!4m5!3m4!1s0x8620a6718f86a9a7:0x6ab2069a8e2a2d7d!8m2!3d29.944616!4d-90.067286
    p Using hypertext for the url makes the message look much cleaner.
    ul
      li We're going to Emeril's for dinner! 
        a(title = "Emerl's New Orleans" href = "https://www.google.com/maps/place/Emeril's+New+Orleans/@29.944616,-90.0694747,17z/data=!3m1!4b1!4m5!3m4!1s0x8620a6718f86a9a7:0x6ab2069a8e2a2d7d!8m2!3d29.944616!4d-90.067286") 
          | Here are the directions.
    p Unfortunately, hiding the urls behind text means that malicious websites can be hidden in messages. 
      | Some users may share resources without realizing they are potentially harmful.

    h2 Slash Command
      hr
    p The 
      i /safebrowse 
      | slash command for Slack uses 
      a(class="google-safe-browse" title="Google safe browse home" href="https://safebrowsing.google.com/") Google Safe Browse 
      | to check whether a web address is potentially harmful. 
      | Suspicious web addresses are marked with an emoji representing their threat types.

    ul
      li
        img(class="emoji" src="img/emojis/beetle.png" alt="beetle")
        a(class="google-safe-browse" title="Google safe browse malware" href="https://www.stopbadware.org/")  malware
      li 
        img(class="emoji" src="img/emojis/biohazard_sign.png" alt="biohazard sign")
        a(class="google-safe-browse" title="Google safe browse phishing" href="https://googleonlinesecurity.blogspot.com/2015/11/safe-browsing-protection-from-even-more.html")  phishing/social engineering
      li
        img(class="emoji" src="img/emojis/no_entry_sign.png" alt="no entry sign")
        a(class="google-safe-browse" title="Google safe browse unwanted software" href="https://www.google.com/about/unwanted-software-policy.html")  unwanted software
      li 
        img(class="emoji" src="img/emojis/exclamation.png" alt="exclamation")
        |  potentially harmful application or unspecified threat
    p
      | A small blue diamond
      img(class="emoji" src="img/emojis/small_blue_diamond.png" alt="small blue diamond")
      | is earned by web addresses that are not suspected of being harmful.
    p A heavy X 
      img(class="emoji" src="img/emojis/heavy_multiplication_x.png" alt="heavy multiplication x") 
      |  warns when the application fails to contact the Google Safe Browse service

    h2 Steps
      hr
    ol
      li Begin your message with '/safebrowse' to activate the command
      li Copy in the urls that you want to check
        br
        i - Multiple urls can be checked in a single message
      li Send your message and Safe Browse will report whether any urls are suspected of being harmful

    div(class="demo")
      img(class = "demo-gifs" src="img/demos/demo.gif" alt="demonstration of a url reported as malwar")
    p
      i Safe Browse for Slack is an independent project unaffiliated with Google or Slack

