html {
    position: relative;
    min-height: 100%;
  }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

header img {
  height: 5rem;
  width: 5rem;
  margin: auto 1rem;
}

header h1 {
  margin: auto 1rem;
}

div.content {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img#demo {
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 0.2rem;
}
  
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    padding: .5rem .5rem .75rem;
  }

footer a {
  color: black;
  margin: 0.5rem;
}

footer a:hover {
  color: darkblue;
}
