html {
    position: relative;
    min-height: 100%;
  }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

header img {
  height: 5rem;
  width: 5rem;
  margin: auto 1rem;
}

header h1 {
  margin: auto 1rem;
}

div.message {
  font-size: 1.25rem;
  color:white;
  text-align: center;
  margin: auto;
  max-width: max-content;
}

.alert {
  padding: 1rem;
  opacity: 0.7;
  transition: opacity 0.6s;
}

.alert.success {background-color: #4CAF50;}
.alert.error {background-color: #b71c1c;}
.alert.warning {background-color: orange;}

.closebtn a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.closebtn a:hover {
  color: black;
}

div.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: max-content;
}

img#demo {
  object-fit: contain;
  border-style: solid;
  border-radius: 0.25rem;
  border-width: 0.15rem;
}
  
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    padding: .5rem .5rem .75rem;
  }

footer a {
  color: black;
  margin: 0.5rem;
}

footer a:hover {
  color: darkblue;
}
