version: 2
jobs:
 build:
    working_directory: ~/markdownlinks
    docker:
    - image: circleci/node:11
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run:
          name: install-npm
          command: npm install
      - save_cache:
            paths:
                - node_modules
            key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: test
          command: npm test db
      - run:
          name: lint
          command: npm run lint
          