<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flightcheck</title>
    <meta charset="utf-8">
    <meta name="description" content="FlightStats integration with Slack">
    <meta name="author" content="Timothy Miller">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Welcome to Flightcheck!</h1>
<p>This application takes commands from Slack to request information from FlightStats</p>
<h2>Available Commands</h2>
<ul>
    <li>
        For flight details: `status [flight-number]`
    </li>
    <li>
        For the delay status of an airport: `status [airport-identifier]`
    </li>
    <li>
        For a map of airborne aircraft: `position [flight-number]`
    </li>
    <li>
        For a list of available commands: `help`
    </li>
</ul>
</body>
</html>
