<!DOCTYPE html>
<html lang="en">
<head>
    <title>Markdown Links</title>
    <meta charset="utf-8">
    <meta name="description" content="Format hyperlinks in Slack with Markdown syntax">
    <meta name="author" content="Timothy Miller">
    <meta name="slack-app-id" content="AHB2H4ABX">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Welcome to Markdown Links</h1>
    <p>Use the /markdownlinks slack command to send a message with links formatted with Markdown hyperlink syntax.</p>
    <p>Markdownlinks will return a message with formatted hyperlinks.</p>
    <img src="" alt=".gif example"/>
    
</body>
</html>
